body {
    background-color: ivory;
    color: darkblue;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

img.logo {
    float: left;
    margin-right: 10px;
}